<header id="profileHeader">
    <h1>Welcome <%= name %>!</h1>
    <h2>Here are your saved articles:</h2>
</header>

<section id="profileContent">
    <% if(articles) { %>
        <ul id="profileList">
            <%for(let i=0; i<articles.length; i++) { %>
            <li id="listIndex-<%=articles[i].ArticleID%>">
                <button class="btn btn-dark" data-articleID='<%=articles[i].ArticleID %>' onclick="return deleteArticle(this.getAttribute('data-articleID'))"> Delete </button>
                <a href="<%= articles[i].href %>" target="_blank"><%= articles[i].title %></a>
                <cite><%= articles[i].source %></cite>
            </li>
            <% } %>
        </ul>
    <% } %>

    <% if(!articles) { %>
        <div>
            <p>You don't have any saved articles. </p>
            <a href="/" class="btn btn-secondary">Search Articles</a>
        </div>
    <% } %>
</section>
